  
/** {*/
    /*box-sizing: border-box;*/
/*}*/

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    transition: margin 1s;
    margin: 0 0 0 -250px;
}

.wrapper.is-nav-open {
    margin-left: 20%;
   
}

.nav {
    position: relative;
    width: 250px;
    height: 100%;
    padding: 20px;
   
}

.nav__icon {
    position: absolute;
    top: 0;
    right: -60px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
}

.nav__icon:hover, a {
    color: rgb(0, 202, 78);
}

.info{
    color: rgb(0, 202, 78);
    position: absolute;
    margin-left: 30%;
    padding-top: 40px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

.logo{
    margin-left: 70%;
}